[Unit]
Description=Aavita API
After=network.target postgresql.service

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar /root/aavita-api-1.0.0-SNAPSHOT.jar
Environment=SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/AavitaDB
Environment=SPRING_DATASOURCE_USERNAME=aavita
Environment=SPRING_DATASOURCE_PASSWORD=Aavita@123
Environment=MQTT_ENABLED=false
Environment=JWT_KEY=m7H2qPa91F/9p8q7o9KDfF3hB+8mNh2Wmcb1K3qj1BQ=
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
